.landing-header {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

#root {
  max-width: 1500px;
  background-color: #355b7d;
  margin: 10px auto;
  padding: 30px;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.custom-container {
  min-height: 100vh; /* Ensures it fills the full viewport height */
  width: auto; /* Ensures it fills the full viewport width */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers content vertically */
  align-items: center; /* Centers content horizontally */
  background-color: #d9d9d9; /* Light gray background */
  color: black; /* Changes text color to black for better contrast */
  padding: 20px;
  gap: 10px;
}

.custom-header {
  display: flex;
  align-items: center;  /* Aligns items vertically */
  justify-content: space-between;  /* Distributes elements with space between */
  color: #353433 !important;
  font-size: 2.5rem;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 20px; /* Adds spacing around the header */
  width: 100%; /* Ensures it spans the full width */
  background-color: grey;
}

.landing-page {
  background-image: url('public/images/login-image.jpeg'); /* Reemplaza con la ruta correcta */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* Asegura que cubra toda la pantalla */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}



.custom-paragraph {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  color: #d1d1d1;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas */
  gap: 10px; /* Espaciado entre imágenes */
  width: 80vw; /* Ajusta el ancho de la galería */
  max-height: 50%; /* Ajusta la altura máxima */
  overflow-y: auto; /* Agrega scroll si hay muchas imágenes */
  padding: 10px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.galeria img {
  width: 200; /* Ajusta cada imagen al ancho de la columna */
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.main-content {
  display: flex;
  flex: 1;
  width: 100%;
  max-width: 100vw;
  gap: 10px;
}

.left-panel {
  width: 45%;
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.right-panel {
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
  scrollbar-color: white;
}

.galeria {
  display: grid;
  background-color: black;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  max-width: 100%;
  overflow-y: auto;
  max-height: 100%; /* Ajusta la altura para limitar espacio */
  padding: 10px;
  scrollbar-color: white;
}

.galeria img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}

.chat-section {
  background: white;
  padding: 15px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}.chat-section,

.cases-section {
  background: white;
  padding: 15px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  gap: 10px; /* Adds space between elements */
}


.cases-section select {
  margin-bottom: 10px; /* Adjust spacing as needed */
}

.case-info {
  flex-grow: 1; /* Expands to fill available space */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #f8f9fa; /* Light gray background */
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  text-align: center;
  width: 100%;
  height: 100%; /* Ensures it fills the panel */
}

.case-box {
  height: 200px;
  overflow-y: auto;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.case-info h4 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 10px;
}

.case-info p {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.6;
  max-width: 90%;
}

.chat-box {
  height: 200px;
  overflow-y: auto;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.messages {
  max-height: 150px;
  overflow-y: auto;
}

.message {
  background: #d1e7ff;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.info {
  color: gray;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.send-btn {
  background-color: "black";
  color: white;
  padding: 8px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 5px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center; /* Centers the title */
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.custom-button {
  margin-right: auto; /* Pushes button to the left */
  font-weight: bold;
}

.login-container {
  background-image: url('public/images/login.jpg'); /* Reemplaza con la ruta de tu imagen */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 170vh;
  height: 100vh;
  background-color: #cedfee;
  padding: 20px;
}


.login-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 90%; /* Allows better responsiveness */
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%); /* Centers header */
}

.back-button,
.admin-button {
  background-color: #355b7d;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.login-panel {
  background-color: rgba(255, 255, 255, 0.5); 
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Opcional, para centrar los elementos horizontalmente */
  gap: 5px;
}

.back-button {
  align-self: flex-start;
}

.admin-button {
  align-self: flex-end;
}

.login-input {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-buttons {
  display: flex;
  gap: 10px;
}

.login-button {
  background-color: #28a745;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.login-button:hover {
  background-color: #218838;
}

.error-message {
  color: red;
  font-size: 0.9rem;
}


.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  /* Full viewport height */
  width: 100vw;   /* Full viewport width */
  background-color: #f0f0f0; /* Light gray */
}

.role-selection {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea los elementos a la izquierda */
  gap: 10px; /* Espaciado entre líneas */
}

.role-selection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.role-option {
  display: flex;
  align-items: center;
  gap: 8px; /* Espaciado entre el checkbox y el texto */
  margin: 10px;
}

.role-option label {
  white-space: nowrap; /* Evita que el texto salte a la siguiente línea */
}
